

<table style="width:100%;">
<tr>
<td>
  <h1>Child 1</h1>
  Chile Name: {{name | uppercase}}<br/>
  Parent Name: {{parentName}}<br/>
  Money: {{moneydetails}}<br/>
  Parent Said: {{msg}}<br/>
  <button class='btn btn-primary' (click)="valueChanged(1)">Need Money</button> 
  
</td>
<td>
  <h1>Child 3</h1>
Chile Name: {{name3 | uppercase}}<br/>
Parent Name: {{parentName3}}<br/>
Money: {{moneydetails3}}<br/>
Parent Said: {{msg3}}<br/>
<button class='btn btn-primary' (click)="valueChanged(3)">Need Money</button> 

</td>
</tr>
</table>